.main-error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.main-error img {
  width: 100%;
  max-width: 28rem;
}

.main-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

.main-error-container h1 {
  font-size: 2.2rem;
  text-align: center;
  margin-top: 3rem;
}

.main-error-container p {
  font-size: 1.2rem;
  margin: 2rem 0;
  text-align: center;
}

.main-error-container form {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--clr-light);
  padding: 1em 0.75em;
  border-radius: 0.45em;
  border: 0.1rem solid #cccedd;
}

.main-error-container span {
  display: block;
  font-size: 1.2rem;
  margin-top: -1.5rem;
  font-weight: 900;
}

.small-logo {
  margin-bottom: -1rem;
  filter: drop-shadow(0 0.2rem 0.4rem #0002);
}

.main-error-server-img {
  width: 100%;
  max-width: 28rem;
  margin: 4rem 0 5rem 0;
}

.main-error-container input {
  width: 100%;
  flex: 2;
  font-size: 0.9rem;
  border: none;
  margin: 0 0.75rem;
  background: transparent;
}

.main-error-container button {
  font-size: 0.9rem;
  width: fit-content;
  margin: -0.25rem 0;
  border-radius: 0.45em;
}

.main-error-contact {
  width: 100%;
  display: flex;
  padding-top: 1em;
  border-top: 0.1rem solid #cccedd;
  justify-content: space-between;
}

.main-error-contact button svg {
  margin-right: 0.5rem;
}

.main-error-contact p {
  font-size: 0.8rem;
}

.main-error-contact span {
  font-weight: 700;
}

.main-error-contact button {
  width: fit-content;
  background: transparent;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0.75em 1.5em;
  border-radius: 0.45rem;
  margin: 0;
  border: 0.1rem solid var(--clr-primary);
  color: var(--clr-primary);
}
